<div class="jobs">
    <header>
        <div class="container">
            <h2 class="head-text">Vacancies</h2>
        </div>
        <span class="settings">
            <i data-toggle="collapse" data-target="#colors" aria-expanded="false" class="fa fa-cog  fa-2x" aria-hidden="true"></i>
            <div class="change-color collapse multi-collapse" id="colors">
                <span>SITE STYLE</span>
                <div class="colors" ng-repeat="color in View1Ctrl.colors track by $index"
                     ng-style="{'background-color': color.color}"
                     ng-click="View1Ctrl.chooseColor(color)"></div>
            </div>
        </span>
    </header>
    <div class="container">
        <form novalidate class="simple-form" ng-submit="View1Ctrl.search()">
            <div class="search-bar">
                <span class="category col-md-3">
                    <select class="form-control" ng-model="View1Ctrl.filter.category.name[0].name">
                        <option value="" selected>Category</option>
                        <option ng-repeat="category in View1Ctrl.categories track by category.name"
                                value="{{category.name}}"
                                ng-selected="category.name === View1Ctrl.filter.category.name">{{category.name}}</option>
                    </select>
                </span>
                <span class="location col-md-3">
                    <select class="form-control" ng-model="View1Ctrl.filter.location.name[0].name">
                        <option value="" selected>Location</option>
                        <option ng-repeat="location in View1Ctrl.locations track by location.name"
                                value="{{location.name}}"
                                ng-selected="location.name === View1Ctrl.filter.location.name">{{location.name}}</option>
                    </select>
                </span>
                <span class="col-md-6 form-group input-group input-group-md search">
                    <input type="text" class="form-control" ng-model="View1Ctrl.filter.title.name[0].name"
                           placeholder="Type your key word">
                    <span class="input-group-btn">
                        <button ng-mouseover="hover=true"
                                ng-mouseleave="hover=false"
                                ng-style="{'background-color': hover ? View1Ctrl.currentColor.hover : View1Ctrl.currentColor.color, 'color': 'white'}"
                                class="btn btn-secondary" type="submit">Search</button>
                    </span>
                </span>
            </div>
        </form>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-3">
                <div class="sidebar-header">
                    <div class="points">
                        <h4 data-toggle="collapse" data-target="#categoty" aria-expanded="false">Categories
                            <i class="fa fa-plus pull-right"></i></h4>
                        <ul class="checkbox collapse multi-collapse" id="categoty">
                            <li ng-repeat="category in View1Ctrl.categories track by $index">
                                <label><input type="checkbox"
                                              ng-model="category.isChecked"
                                              ng-checked="category.name === View1Ctrl.filter.category.name[0].name ? true : false"
                                              ng-change="View1Ctrl.filterJobs(category, 'category')" value="">{{category.name}}</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="points">
                        <h4 data-toggle="collapse" data-target="#emplTypes" aria-expanded="false">Employment Type <i class="fa fa-minus pull-right"></i></h4>
                        <ul class="checkbox collapse multi-collapse" id="emplTypes">
                            <li ng-repeat="emplTypes in View1Ctrl.emplTypes track by $index">
                                <label><input type="checkbox"
                                              ng-model="emplTypes.isChecked" value=""
                                              ng-checked="emplTypes.name === View1Ctrl.filter.emplTypes.name[0].name ? true : false"
                                              ng-change="View1Ctrl.filterJobs(emplTypes, 'employmentType')" value="">{{emplTypes.name}}</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="points">
                        <h4 data-toggle="collapse" data-target="#location" aria-expanded="false">Location <i class="fa fa-minus pull-right"></i></h4>
                        <ul class="checkbox collapse multi-collapse" id="location">
                            <li ng-repeat="location in View1Ctrl.locations track by $index">
                                <label><input type="checkbox"
                                              ng-model="location.isChecked" value=""
                                              ng-checked="location.name === View1Ctrl.filter.location.name[0].name ? true : false"
                                              ng-change="View1Ctrl.filterJobs(location, 'location')" value="">{{location.name}}</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="jobs-card col-md-9" ng-if="View1Ctrl.jobs.length">
                <div class="jobs-result row">
                    <div class="col-lg-6"><span>Showing {{View1Ctrl.jobs.length}} of {{View1Ctrl.total}} offers</span></div>
                    <div class="col-lg-6"><span class="pull-right">Sort by: <p>Most Relevant</p></span></div>
                </div>
                <div class="main-jobs row" ng-repeat="job in View1Ctrl.jobs track by $index">
                    <div class="col-md-2">
                        <img ng-src="{{job.logo}}">
                    </div>
                    <div class="col-md-7">
                        <h3>{{job.title}}</h3>
                        <span class="loc-time"><i class="fa fa-map-marker"></i>  {{job.location}}</span>
                        <span class="loc-time"><i class="fa fa-clock-o"></i>  {{job.employmentType}}</span>
                    </div>
                    <div class="jobs-buttons col-md-3">
                        <button type="button" class="btn btn-primary pull-right" ng-disabled="job.bookmark"
                                ng-click="View1Ctrl.addBookmark($index)">
                            <i class="fa fa-bookmark"></i>
                            <span>{{job.bookmark ? 'Bookmarked' : 'Bookmark'}}</span>
                        </button>
                        <button type="button" ng-mouseover="hoverActive=true"
                                ng-mouseleave="hoverActive=false"
                                ng-style="{'background-color': hoverActive ? View1Ctrl.currentColor.hover : View1Ctrl.currentColor.color, 'border-color': View1Ctrl.currentColor.color}"
                                class="btn btn-success pull-right">
                            <i class="fa fa-briefcase"></i> Apply for this job
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-9 no-result" ng-if="!View1Ctrl.jobs.length">
                <h4 class="text-center">No result</h4>
            </div>
        </div>
    </div>
</div>