<div class="jobs">
    <header>
        <div class="container">
            <h2>Header</h2>
        </div>
        <span class="settings">
            <i class="fa fa-cog  fa-2x" aria-hidden="true"></i>
        </span>
    </header>
    <div class="container">
        <form novalidate class="simple-form" ng-submit="View1Ctrl.search()">
            <div class="search">
                <span class="col-md-3">
                    <select class="form-control" ng-model="View1Ctrl.filter.category"
                            ng-options="category.name for category in View1Ctrl.categories track by category.name">
                        <option value="">Category</option>
                    </select>
                </span>
                <spam class="col-md-3">
                    <select class="form-control" ng-model="View1Ctrl.filter.location"
                            ng-options="location.name for location in View1Ctrl.locations track by location.name">
                        <option value="">Location</option>
                    </select>
                </spam>
                <span class="col-md-6 form-group input-group input-group-md">
                    <input type="text" class="form-control" ng-model="View1Ctrl.filter.text"
                           placeholder="Type your key word">
                    <span class="input-group-btn">
                        <input class="btn btn-secondary btn-success" type="submit" placeholder="search">
                    </span>
                </span>
            </div>
        </form>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-3">
                <div class="sidebar-header">
                    <h4>Categories <i class="fa fa-plus pull-right"></i></h4>
                        <ul class="checkbox">
                            <li ng-repeat="category in View1Ctrl.categories track by $index">
                                <label><input type="checkbox" ng-model="category.isChecked" value=""
                                              ng-change="View1Ctrl.filterJobs(category, 'category')" value="">{{category.name}}</label>
                            </li>
                        </ul>
                </div>
                <div class="sidebar-header">
                    <h4>Employment Type <i class="fa fa-minus pull-right"></i></h4>
                    <ul class="checkbox">
                        <li ng-repeat="emplTypes in View1Ctrl.emplTypes track by $index">
                            <label><input type="checkbox"
                                          ng-model="emplTypes.isChecked" value=""
                                          ng-change="View1Ctrl.filterJobs(emplTypes, 'employmentType')">{{emplTypes.name}}</label>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-header">
                    <h4>Location <i class="fa fa-minus pull-right"></i></h4>
                    <ul class="checkbox">
                        <li ng-repeat="location in View1Ctrl.locations track by $index">
                            <label><input type="checkbox" ng-model="location.isChecked" value="" ng-change="View1Ctrl.filterJobs(location, 'location')" value="">{{location.name}}</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="jobs-result">
                    <span>Showing 5 of 7 offers</span>
                </div>
                <div class="main-jobs row" ng-repeat="job in View1Ctrl.jobs track by $index">
                    <div class="col-md-2">
                        <img ng-src="{{job.logo}}">
                    </div>
                    <div class="col-md-7">
                        <h3>{{job.title}}</h3>
                        <span class="loc-time"><i class="fa fa-map-marker"></i>  {{job.location}}</span>
                        <span class="loc-time"><i class="fa fa-clock-o"></i>  {{job.employmentType}}</span>
                    </div>
                    <div class="jobs-buttons col-md-3">
                        <button type="button" class="btn btn-primary pull-right" ng-disabled="job.bookmark"
                                ng-click="View1Ctrl.addBookmark($index)">
                            <i class="fa fa-bookmark"></i>
                            <span>{{job.bookmark ? 'Bookmarked' : 'Bookmark'}}</span>
                        </button>
                        <button type="button" class="btn btn-success pull-right">
                            <i class="fa fa-briefcase"></i> Apply for this job
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>